<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidstudy">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidStudy">
        <activity
            android:name=".EditTextExample"
            android:exported="false"/>
        <activity
            android:name=".IntentExamMain"
            android:exported="false"/>
        <activity
            android:name=".IntentExamSub"
            android:exported="false"/>
        <activity
            android:name=".ServiceExam"
            android:exported="false"/>
        <activity
            android:name=".WebViewExam"
            android:exported="false"/>
        <activity
            android:name=".SpinnerExam"
            android:exported="false"/>
        <activity
            android:name=".LoadingAniExam"
            android:exported="false"/>
        <activity
            android:name=".MusicPlayerExam"
            android:exported="false"/>
        <activity
            android:name=".GoogleMapExam"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MusicService"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD3oDJLCQq3Bm3U_hRrHLfbQhqfhtxNgx8"/>
    </application>

</manifest>