<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidstudy" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- for network checking -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidStudy"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".activitys.ExoPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.VideoViewExam"
            android:exported="false" />
        <activity
            android:name=".activitys.BroadCastReceiverExam"
            android:exported="false" />
        <activity
            android:name=".activitys.server_system.LoginActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.server_system.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.server_system.RegisterLoginExam"
            android:exported="false" />
        <activity
            android:name=".activitys.EditTextExample"
            android:exported="false" />
        <activity
            android:name=".activitys.IntentExamMain"
            android:exported="false" />
        <activity
            android:name=".activitys.IntentExamSub"
            android:exported="false" />
        <activity
            android:name=".activitys.ServiceExam"
            android:exported="false" />
        <activity
            android:name=".activitys.WebViewExam"
            android:exported="false" />
        <activity
            android:name=".activitys.SpinnerExam"
            android:exported="false" />
        <activity
            android:name=".activitys.LoadingAniExam"
            android:exported="false" />
        <activity
            android:name=".activitys.ButtonSelectorExam"
            android:exported="false" />
        <activity
            android:name=".activitys.GoogleMapExam"
            android:exported="false" />
        <activity
            android:name=".activitys.CameraExam"
            android:exported="false" />
        <activity
            android:name=".activitys.MainActivity"
            android:exported="false">
        </activity>

        <service android:name=".activitys.MusicService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.androidstudy"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD3oDJLCQq3Bm3U_hRrHLfbQhqfhtxNgx8" />
    </application>

</manifest>
